body {
  font-family: 'Jaldi', sans-serif;
  margin: 0;   
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  /* overflow: hidden; */
  padding-bottom: 100px;
}

.container, .container-fluid {
  flex: 1;  
}

a:hover {
  color: lightgray;
  text-decoration: none;
} 

.button-color {
  background-color:  #4aaaa5;
  border-color: #4aaaa5;
}

.bio-link {
  font-size: 3vh;
  color: gray
}

/* #contact-box {
  padding-bottom: 25vh;
} */

/* @media (min-width: 768px) { ... } */

@media (max-width: 1280px) {
  .card {
      width: 12rem;
  }
}

@media (max-width: 992px) {
  #my-pic {
      width: 60%;
  }
  #lets-connect {
      display: none;
  }
  #ccc-image {
      display: none;
  }
  #resp-image {
      display: block;
      width: 100%;
  }
  .card {
      width: 16rem;
  }
}


@media (max-width: 576px) { 
  
  #yourname {
      font-size: 2vh;
  };

  #about-me {
      margin: 0;  
  };
  
}