body {
  font-family: 'Jaldi', sans-serif;
  margin: 0;   
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container, .container-fluid {
  flex: 1;
}

a:hover {
  color: lightgray;
  text-decoration: none;
}

.button-color {
  background-color:  #4aaaa5;
  border-color: #4aaaa5;
}

.bio-link {
  font-size: 3vh;
  color: gray
}

/* #contact-box {
  padding-bottom: 25vh;
} */

.connect {
  position: relative;
/* padding-bottom: 30px; */
}

#lets-connect {
  position: absolute;
  bottom: 5%;
  right: 5%;
  height: 90%;
}

.contact-title {
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form {
  background-color: #f0f0f0;
  color: #000000;
}

/* @media (min-width: 768px) { ... } */

@media (max-width: 1280px) {
  .card {
      width: 12rem;
  }
}

@media (max-width: 992px) {
  #my-pic {
      width: 60%;
  }
  #lets-connect {
      display: none;
  }
  #ccc-image {
      display: none;
  }
  #resp-image {
      display: block;
      width: 100%;
  }
  .card {
      width: 16rem;
  }
}


@media (max-width: 576px) { 
  
  #yourname {
      font-size: 2vh;
  };

  #about-me {
      margin: 0;  
  };
  
}