{{!-- <div class='row'>
    <div class='col-12 p-0'>
        <img src='./assets/images/connect-banner.jpg' style='width: 100%'>
    </div>
</div> --}}

<div class='row justify-content-center mt-3' id='contact-box'>
    <div class='col-md-8 jumbotron bg-transparent text-dark'>
        <div class='row justify-content-end'>
            <!-- INSTEAD OF 'LETS CONNECT', HAVE A PICTURE HERE SHOWCASED IN THE NEGATIVE SPACE -->

            <div class='connect col-lg-5'>
                <img id='lets-connect' src='./assets/images/connect-slim.jpg'>
            </div>
            <div class='col-lg-7'>
                {{!-- <h1 class='display-3'>contact</h1> --}}
                <form>
                    <div class='contact-title form-group'>
                        <label for='formGroupExampleInput'>Name</label>
                        <input type='text' class='contact-form form-control border-0' id='formGroupExampleInput'>
                    </div>
                    <div class='contact-title form-group mt-3'>
                        <label for='exampleInputEmail1'>Email</label>
                        <input type='email' class='contact-form form-control border-0' id='exampleInputEmail1' aria-describedby='emailHelp'>
                    </div>
                    <div class='contact-title form-group mt-3'>
                        <label for='exampleFormControlTextarea1'>Message</label>
                        <textarea class='contact-form form-control border-0' id='exampleFormControlTextarea1' rows='6'></textarea>
                    </div>
                    <div>
                        <a href='#' class='contact-form btn active' role='button' aria-pressed='true'>Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>