<!-- What we want to do here is have #ccc-image on a z-index below a div. 
    The DIV above this image will be transparent, that way when the user
    is on a smaller viewport, the #ccc-image will stay the same but the
    box can get smaller-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <img src="./assets/images/ccc-alt.png" id="ccc-image">
            <img src="./assets/images/ccc-resp.jpg" id="resp-image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="main-content col-md-10 jumbotron bg-transparent text-dark mb-0">
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <img id="my-pic" class="img-fluid rounded-circle" src="./assets/images/bio-image.jpg" alt="Biography Pic">
                </div>
                <div class="col-lg-8 mt-3" id="about-me">
                    <p>
                        Software developer with a B.S. in Information Systems from UC Riverside. Received training from
                        the UC Irvine web development
                        boot camp to broaden my knowledge and establish a path into the technology sector. I have
                        cultivated
                        a skill set based in strong communication and efficient team work during the last 5 years of my
                        career
                        in B2B sales and logistics. Now looking to pivot into software and web development to pursue a
                        harbored
                        passion for tech.
                    </p>
                    <p>
                        Comfortable speaking to non-technical audiences about technical subject matter. Proven track
                        record of achieving quarterly
                        goals through team leadership. Experience with HTML5/CSS3, Javascript ES6/jQuery, node.js,
                        Express,
                        SQL, Handlebars.js, MongoDB/Mongoose, and React.js. I will soon be diving into C# as well. I am
                        excited
                        to grow in an industry where I can join in on the creation of innovative products with my own
                        hands
                        and problem solving in teams.
                    </p>
                    <p>
                        Get to know me better by reaching out!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="main-content col-md-10 pt-1 jumbotron bg-transparent text-dark">
            <div class="row text-center">
                <div class="col-12">
                    <h1 class="port-header display-5">technical skills</h1>
                    <h5>experience / familiar</h5>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-lg-3 mt-2">
                    <div class="card">
                        <div class="card-header">
                            Languages
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">JavaScript ECMAScript 6</li>
                            <li class="list-group-item">HTML 5</li>
                            <li class="list-group-item">CSS 3</li>
                            <li class="list-group-item">SQL</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-2">
                    <div class="card">
                        <div class="card-header">
                            Libraries
                        </div>
                        <ul class="list-group list-group-flush">    
                            <li class="list-group-item">Mongoose</li>
                            <li class="list-group-item">Express</li>
                            <li class="list-group-item">React</li>
                            <li class="list-group-item">Node.js</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-2">
                    <div class="card">
                        <div class="card-header">
                            Additional
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">GIT</li>
                            <li class="list-group-item">MVC</li>
                            <li class="list-group-item">AJAX</li>
                            <li class="list-group-item">Heroku</li>
                        </ul>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Languages</th>
                            <th scope="col">Libraries</th>
                            <th scope="col">Additional</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JavaScript ES6</td>
                            <td>jQuery</td>
                            <td>Something</td>
                        </tr>
                    </tbody>
                </table>
            </div> --}}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="main-content col-md-10 pt-1 jumbotron bg-transparent text-dark">
            <div class="col-12">
                <h1 class="port-header display-5">projects and apps</h1>
                <h5>some of my recent work, click to access each repo</h5>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 mx-0 p-1">
                    <a target="_blank" href="https://github.com/rs01247/support-ticket">
                        <img class="port-img wow bounceInUp card-img-top rounded" src="./assets/images/portfolio/fs.gif"
                            alt="Forward Support">
                    </a>
                </div>
                <div class="col-md-4 mx-0 p-1">
                    <a target="_blank" href="https://github.com/rs01247/project-week">
                        <img class="port-img card-img-top rounded" src="./assets/images/portfolio/samurai.gif" alt="Samurai Unicorn">
                    </a>
                </div>
                <div class="col-md-4 mx-0 p-1">
                    <a target="_blank" href="https://github.com/rs01247/friend-finder">
                        <img class="port-img card-img-top rounded" src="./assets/images/portfolio/mingle.gif" alt="Friend Finder">
                    </a>
                </div>
                <div class="col-md-4 mx-0 p-1">
                    <a target="_blank" href="https://github.com/rs01247/TriviaGame">
                        <img class="port-img card-img-top rounded" src="./assets/images/portfolio/cs.gif" alt="Trivia Game">
                    </a>
                </div>
                <div class="col-md-4 mx-0 p-1">
                    <a target="_blank" href="https://github.com/rs01247/ffvii-rpg-game">
                        <img class="port-img card-img-top rounded" src="./assets/images/portfolio/ffvii.gif" alt="RPG Game">
                    </a>
                </div>
                <div class="col-md-4 mx-0 p-1">
                    <a target="_blank" href="https://github.com/rs01247/Hangman-game">
                        <img class="port-img wow bounceInUp card-img-top rounded" src="./assets/images/portfolio/avengers.gif"
                            alt="Hangman">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>