body {
    font-family: 'Jaldi', sans-serif;
    margin: 0;   
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container, .container-fluid {
    flex: 1;
}

#yourname {
    font-family: 'Assistant', sans-serif;
    color: darkslategray;
    font-size: 3vh;
}

.top-link {
    color: darkslategray;
    font-family: 'Jaldi', sans-serif;
}   

a:hover {
    color: lightgray;
    text-decoration: none;
}

#resp-image {
    display: none;
}

#ccc-image {
    width: 100%;
}

#skill-box {
    background-image: url("../images/stonehaven.png");
    /* background-position: center;
    width: 100%; */
    /* background-color: lightgray; */
}

.card-header {
    background-color: #a3adc1;
    color: white;
    font-family: 'Assistant', sans-serif;
    border-bottom: 0;
}

.card {
    border: 0;
    box-shadow: 0 2px 6px 0
    hsla(0, 0%, 0%, 0.2);
    width: 16rem;
    margin: auto;
}

.list-group-item {
    border: 0;
}

.port-header {
    font-family: 'Assistant', sans-serif;
}

.port-img {
      filter:#d3d3d3;
      -webkit-filter: grayscale(1);
      -webkit-transition: all .2s ease-in-out;  
}

.port-img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
}

.button-color {
    background-color:  #4aaaa5;
    border-color: #4aaaa5;
}

.bio-link {
    font-size: 3vh;
    color: gray
}

.main-content {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.footer {
    /* border-top: solid #cccccc 2px; */
    padding-top: 2vh;
    background-color: #a3adc1;
    width: 100%;    
    /* position: absolute;
    bottom: 0; */
    flex-shrink: 0;
}

.footer-link {
    color: #f0f0f0;
}

/* #contact-box {
    padding-bottom: 25vh;
} */

.connect {
    position: relative;
	/* padding-bottom: 30px; */
}

#lets-connect {
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 90%;
}

.contact-title {
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form {
    background-color: #f0f0f0;
    color: #000000;
}

/* @media (min-width: 768px) { ... } */

@media (max-width: 1280px) {
    .card {
        width: 12rem;
    }
}

@media (max-width: 992px) {
    #my-pic {
        width: 60%;
    }
    #lets-connect {
        display: none;
    }
    #ccc-image {
        display: none;
    }
    #resp-image {
        display: block;
        width: 100%;
    }
    .card {
        width: 16rem;
    }
}


@media (max-width: 576px) { 
    
    #yourname {
        font-size: 2vh;
    };

    #about-me {
        margin: 0;  
    };
    
}