body {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Economica', sans-serif; */
    font-family: 'Jaldi', sans-serif;
    /* font-family: 'Jura', sans-serif; */
    margin: 0;      
}

/* .header {
    border-bottom: solid #cccccc 2px;
    background-color: #FFFFFF;
} */

#yourname {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Assistant', sans-serif;
    /* font-family: 'Jaldi', sans-serif; */
    color: darkslategray;
    font-size: 3vh;
    /* z-index: 99; */
}

.top-link {
    color: darkslategray;
    font-family: 'Jaldi', sans-serif;
}   

a:hover {
    color: lightgray;
    text-decoration: none;
}

#ccc-image {
    width: 100%;
}

.footer {
    border-top: solid #cccccc 2px;
    background-color: #666666;
    width: 100%;    
}

#copy {
    font-size: 10px;
}

.portimg {
    text-align: center;
}

.button-color {
    background-color:  #4aaaa5;
    border-color: #4aaaa5;
}

.bio-link {
    font-size: 3vh;
    color: gray
}

.contact-title {
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form {
    background-color: #f0f0f0;
    color: #000000;
}

@media (max-width: 576px) { 
    
    #yourname {
        font-size: 90%;
    }

    /* #ccc-image {
        height: 100%;
        width: 200%;
    } */
}

/* @media (min-width: 768px) { ... } */

@media (max-width: 992px) {
    #my-pic {
        width: 60%;
    }
}